@use '../../sass/variables' as *;
@use '../Buttons/Button1/index.scss' as *;
@use '../../sass/mediaQueries' as *;

.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.505);
}

.Modal__main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $white;
    border-radius: 10px;
    text-align: center;
    padding: 4vh 1vw;

    @include respond-to-small {
        width: 80vw;
    }

    @include respond-to-medium {
        width: 70vw;
    }

    @include respond-to-large {
        width: 60vw;
    }

    h1 {
        font-weight: 600;
        font-size: 2vw;

        @include respond-to-small {
            font-size: 4vw;
        }

        @include respond-to-medium {
            font-size: 3.5vw;
        }

        @include respond-to-large {
            font-size: 2.5vw;
        }
    }

    h2 {
        font-weight: 400;
        font-size: 1.5vw;

        @include respond-to-small {
            font-size: 3.5vw;
        }

        @include respond-to-medium {
            font-size: 3vw;
        }

        @include respond-to-large {
            font-size: 2vw;
        }
    }

    input {
        border-radius: 5px;
        background-color: #ececec;
        text-align: center;
        border: none;
        font-weight: 400;
        font-size: 1.5vw;
    }
}

.Modal__buttons {
    display: flex;
    justify-content: center;
    column-gap: 1vw;

    @include respond-to-small {
        column-gap: 3vw;
    }

    button {
        width: 16vw;
        height: 10vh;
        font-weight: 600;
        font-size: 2vw;
        border-radius: 5px;

        @include respond-to-small {
            width: 30vw;
            height: 8vh;
        }

        @include respond-to-medium {
            width: 25vw;
            height: 8vh;
        }

        @include respond-to-large {
            width: 25vw;
        }
    }

    &--blue {
        @include Button1($color1, #0e26ff, none, $white, $white);
    }

    &--red {
        @include Button1($white, #d9534f, 1px solid $black, $black, $white);
    }

    &--green {
        @include Button1($white, #4fd96b, 1px solid $black, $black, $white);
    }

}